<div class="row">
<div class="col-xs-6 col-xs-offset-3">
<form class ="text-center" action="/answer">
  <h1><label for="question">Speak to your coach</label></h1>

  <input type="text" id="question" name="question" placeholder="Question......">
  <input type="submit" class="btn btn-primary" value="Go on!">
</form>
</div>
</div>
